.container{
    width: 300px;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    border: 1px solid black;
}
.break{
    width:100%;
}
.box{
    height: 4rem;
    border: 1px solid gray;
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 2rem;
}
.resultBox{
    height: 4rem;
    font-size:2rem;
    width: 100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:5px ;
    background-color: lightblue
    ;
}
.op{
    background-color:lime;
}
.clear{
    background-color:red;
}
.eq{
    background-color:green;
}